name: Links checker

on:
  pull_request:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.NOVUM_PRIVATE_REPOS}}
